::selection {
    background: $primary-green-color;
    color: $white-color;
}

::-moz-selection {
    background: $primary-green-color;
    color: $white-color;
}

body {
    overflow: hidden;

    @media (min-width: 4000px) {
      font-size: 1.5em;
    }

    @media print {
        overflow: visible;
    }
}

#app {
    overflow-x: hidden;
    height: 100vh;

    &.home {
        overflow: hidden;

        @media print {
            overflow: visible;
        }
    }

    &.scroll-lock {
        pointer-events: none;

        .section.container  {
            pointer-events: auto;
        }
    }
}

.grecaptcha-badge { display: none; }