::selection {
    background: $primary-green-color;
    color: $white-color;
}

::-moz-selection {
    background: $primary-green-color;
    color: $white-color;
}

body {
    overflow: hidden;

    @media (min-width: 4000px) {
      font-size: 1.5em;
    }

    @media print {
        overflow: visible;
    }
}

#app {
    overflow-x: hidden;
    height: 100vh;

    &.scroll-lock {
        pointer-events: none;

        .section.container  {
            pointer-events: auto;
        }
    }
}

.powered-by {
    position: absolute;
    width: 100%;
    color: $white-color;
    font-size: 1.25em;
    font-style: italic;
    font-family: $font-family-fjalla;
    display: none;
    text-align: center;

    @media (min-width: 992px) {
        display: block;
    }

    span {
        display: block;
        margin: 10px 0;
    }

    i {
        display: inline-block;
        margin: 0 10px;
    }

    img {
        width: 6em;
    }
}

.grecaptcha-badge { display: none; }