footer {
  @extend .well;

  font-size: 1.25em !important;
  color: #f8f8f8;
  margin: 0 auto;
  text-align: left;
  padding: 0;
  background: #efefef;
  border-radius: 0;
  border: none;
  position: relative;
  z-index: 1;
  box-shadow: 0 -1px 10px rgba(41, 41, 41,.5);
  text-shadow: -1px 1px 1px $black-color;

  .home.page & {
    bottom: 0;
    position: absolute;
    width: 100%;
  }

  .home.about.page & {
    bottom: auto;
    position: relative;
    width: auto;
  }

  .no-js .home.page & {
    opacity: 0 !important;
    pointer-events: none;
  }

  &:before, &:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: .35;
    background: $black-color;
    z-index: 2;
  }

  &:after {
    background: linear-gradient(rgba(21, 21, 21, 0), $black-color);
    height: 75%;
    bottom: 0;
    opacity: 1;
  }

  a {
    opacity: .85;
    transition: opacity .25s;
    color: #f8f8f8;

    &:active,
    &:hover,
    &:focus {
      color: #f8f8f8;
      opacity: 1;
      text-decoration: none;
    }
  }

  i {
    font-style: normal;
    padding-right: .25em;
  }

  h4 {
    font-size: 1.5em;
    font-family: $font-family-oswald;
    text-transform: uppercase;
    white-space: nowrap;

    @media (min-width: 768px) {
      font-size: 2.25rem;
    }

    @media (min-width: 1280px) {
      font-size: 1.5em;
    }
  }

  a, p {
    font-size: .85em;
    padding: .25em 0;
    margin: 0;

    a {
      font-size: 1em;
      display: inline-block;
      padding: 0;
    }

    @media (min-width: 1280px) {
      font-size: .75em;
    }
  }

  p {
    padding-bottom: 1em;
    max-width: 970px;
    margin: 0 auto;
  }

  img {
    margin: 1em auto .5em;
    max-width: 128px;
    width: 10%;
    min-width: 92px;
  }

  a img {
    width: 100%;
    min-width: 0;
    margin-bottom: 1.25em;
    // background: $white-color;
    // box-shadow: 0 0 .5em $black-color;
    // border-radius: 50%;
    // padding: .25em;
  }

  .logo {
    position: relative;

    &:before, &:after {
      content: '';
      position: absolute;
      top: 50%;
      height: 1px;
      background: #efefef;
      width: 30%;
      margin: 0 55px;
      box-shadow: 0 0 0.5em $black-color;
    }

    &:before {
      right: 50%;
    }

    &:after {
      left: 50%;
    }

    a {
      display: block;
      margin: 0 auto;
      max-width: 96px;
    }
  }

  ul {
    margin: 0;
    padding: 0 !important;
    padding-bottom: 1em !important;

    li {
      list-style-type: none;
    }

    .subnav {
      @media (min-width: 768px) {
        font-size: .9em;
      }

      @media (min-width: 1280px) {
        font-size: .9em;
      }
    }

    .social li {
      display: inline-block;
      width: 33%;

      a {
        font-size: 1.75em;

        @media (min-width: 768px) {
          font-size: 1.5em;
        }

        @media (min-width: 1400px) {
          font-size: 1.75em;
        }
      }
    }
  }

  .row > div > ul {
    text-align: right;

    & + ul {
      padding-left: 1em !important;
    }

    @media (min-width: 768px) {
      text-align: left;
    }

    &:nth-child(2n + 1) {
      text-align: left;
      clear: left;
      padding-left: 0 !important;

      @media (min-width: 768px) {
        clear: none;
        padding-left: 1em !important;
      }
    }

    &:first-child {
      padding-left: 0 !important;
    }
  }

  li li {
    font-size: 1.25em;
    white-space: nowrap;

    @media (min-width: 768px) {
      font-size: .9em;
    }

    @media (min-width: 1280px) {
      font-size: 1.25em;
    }

    i {
      display: inline-block;
      width: 1.5em;
      text-align: center;
    }
  }

  p {
    font-size: .9em;
  }

  small {
    font-size: .75em;
    color: #c0c0c0;
    line-height: 1.75;
    display: inline-block;
  }

  .content {
    overflow: hidden;
    position: relative;
    z-index: 3;

    @media (min-width: 768px) {
      padding: 0 1.5em;
    }
  }

  .colors {
    position: absolute;
    height: 100%;
    width: 100%;
  }

  .colors .row {
    overflow: hidden;
    height: 100%;
  }

  .colors .row > div {
    position: relative;
    height: 25%;
    background: #151515;

    &:before, &:after {
      content: '';
      position: absolute;
      transform: rotate(-60deg);
      z-index: 1;
      width: 490%;
      height: 30vw;
      min-height: 100%;
      top: 0;
      right: -175%;
      margin-top: 20%;
      margin-right: 10%;
      box-shadow: -10px -5px 10px rgba(41, 41, 41, 0.35);
    }

    &:after {
      content: none;
    }

    &.blue:before, &.blue:after {
      background: #76a8c7;
      right: -150%;
    }

    &.green:before, &.green:after {
      background: #009fdd;
      right: -170%;
    }

    &.yellow:before, &.yellow:after {
      background: #FC6600;
      right: -185%;
    }

    &.red:before, &.red:after  {
      background: #76a8c7;
      right: -200%;
    }

    &.red:after  {
      content: '';
      background: #009fdd;
      right: -215%;
      top: 90%;

      @media (min-width: 768px) {
        right: -320%;
        top: 0;
      }
    }
  }
}
