.section.container {
  position: relative;
  z-index: 1;
  box-shadow: 0 0 20px $black-color;
  min-height: $page-height!important;
  padding: 0;
  background: $background-color linear-gradient(rgba(89, 159, 198, .45), $background-color);

  @media (min-height: 768px) {
    min-height: $page-height-xl!important;
  }

  .no-js .home.page & {
    overflow: hidden;

    @media print {
      overflow: visible;
    }

    .section {
      display: none;

      @media print {
          display: block;
      }
    }
  }

  .about.page & .section {
    padding: 3em 0;
  }

  .post.page & {
    padding: 0;

    .section {
      padding: 3em 15px 0;
      box-shadow: 0px 0 30px $background-color;

      &:first-child {
        &:before {
          content: '';
          position: absolute;
          box-shadow: 0px 0 30px $background-color;
          width: 100%;
          height: 10px;
          top: -10px;
          left: 0;
        }
      }
    }
  }

  .home.page & {
    .section {
      background: transparent;
      max-width: 640px;
    }
  }

  .section {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0;

    h2, h3, h4 {
      font-weight: 600;
    }

    h2 {
      font-family: $font-family-oswald;
      color: $background-color;
      text-transform: uppercase;
      font-size: 2.5em;
      line-height: 1.5;
      margin-top: 0;
      margin-bottom: .75em;
    }

    h3 {
      margin: 0;
      font-size: 3.25em;
      font-family: $font-family-oswald;
      text-transform: uppercase;
      line-height: 1.5;
    }

    strong {
      font-weight: 900;
    }

    p {
      font-family: $font-family-brand;
      font-size: 1.25em;
      color: $black-color;
      margin: 0;

      &.humility {
        color: $humility;
      }

      & + p {
        margin-top: 1.25em;
      }
    }
  }
}

.subscription {
  max-width: 360px;

  @media (min-width: 992px) {
    max-width: none;
  }
}

.subscription .plan {
  display: table;
  width: 100%;

  & > div {
    display: table-cell;
    width: 50%;
  }

  &+hr {
    border-top: solid 1px #efefef;
    margin: 0;
    box-shadow: 1px 1px 3px $black-color;
    margin: 30px 0;
  }

  h4 {
    margin-bottom: .5em !important;
  }

  ul {
    margin: 1.5em 0 0;
    padding: 0;
    color: #f8f8f8;
    font-size: 1.1em;
    text-shadow: 1px 1px 3px $black-color;
    min-width: 150px;

    li {
      list-style-type: none;
      white-space: nowrap;
    }
  }

  i {
    display: inline-block;
    width: 20px;
    text-align: center;
  }

  .price {
    text-shadow: 1px 1px 3px $black-color;
    color: #fcd700;
    line-height: 1;
    font-family: $font-family-oswald;
    font-size: 2.75em;
    display: block;
    font-weight: 600;
  }

  @media (min-width: 992px) {
    &, & > div {
      display: block;
      width: auto;
    }

    &+hr {
      display: none;
    }
  }
}