.peg, .wheelSVG {
  visibility: hidden;
}
.peg {
  // transform: matrix(1, 0, 0, 1, 367, -72)!important;
}

//    a:link { color:#F1DC16; }
//    a:visited { color:#F1DC16; }
//    a:hover { color:#F1DC16; }
//    a:active { color:#F1DC16;}

.centerCircle, .valueContainer, .wheelOutline, .wheelText {
pointer-events: none;
}
.wheelContainer {
  margin-top: 1em;
}
.toast, .wheelContainer{
text-align: center;
}
.toast {
  position: absolute;
  background-color: #E81D62;
  top: 26vh;
  font-size: 2em;
  padding: 15px 30px;
  line-height: 1;
  white-space: nowrap;
  border-radius: 12px;
  opacity: 0;
  display: none;

  &.active {
    display: block;
  }

  @media (min-width: 992px) {
    top: 23vh;
    font-size: 3.5em;
  }

  p {
    line-height: 1;
    font-family: 'Fjalla One', Arial, sand-serif;;
    color: #ededed;
  }
}
.wheelSVG {
position: absolute;
overflow: visible!important;
width: 100%;
height: auto; 
}
.wheelText {
text-anchor: middle;
font-family: 'Fjalla One', Arial, sans-serif;
-webkit-user-select: none;
user-select: none;
}
.spinBtn {
  cursor: pointer;
}
.spinBtn:focus {
outline: 0;
}
.spin.btn {
  i {
    padding-left: 0;
    padding-right: 5px;
  }

  span span {
    display: inline;
    color: $white-color;
  }
}
.spin-container {
  position: fixed;
  bottom: 10%;
  width: 100%;
  left: 0;
  text-align: center;
  font-size: 1.25em;
}